/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.sidebar__icon--services {
  height: 1.13rem;
  width: 1.13rem;
}

.tab__item {
  padding: var(--space-xs);
}

.tab__item-2 {
  color: var(--white_a700) !important;
  padding-left: 0.88rem;
  padding-right: 0.88rem;
}

.room-image {
  height: 5rem;
  width: 72%;
  object-fit: contain;
}

.room-table-body {
  width: auto;
  height: 100vh;
  overflow: auto;
}

.room-table-body > .unique-table-data {
  border-bottom: 1px solid var(--orange_a100);
  padding-left: 1.88rem;
}

.statuses {
  gap: var(--space-2xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.room-status {
  color: var(--green_500) !important;
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.rooms {
  background-color: var(--white_a700);
  width: 100%;
  scrollbar-width: none;
}

.row {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  flex-direction: column;
  display: flex;
  background-color: var(--orange_a100);
  width: 17.88rem;
  height: 100vh;
  position: sticky !important;
  top: 0rem;
  overflow: auto;
}


.sidebar__logo-row {
  align-self: stretch;
}

.sidebar__logo {
  height: 12.13rem;
  width: 100%;
  object-fit: cover;
}

.sidebar__menu {
  margin-top: 6.5rem;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
  gap: 1.13rem;
  padding: 0rem;
  li {
    width: 100%;
  }

  a {
    color: var(--black_900_01);
    font-weight: 600;
    font-size: 1.06rem;
    gap: var(--space-xl);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.63rem 0.63rem 0.63rem 2rem;
    &:hover {
      background-color: var(--amber_500_59) !important;
      box-shadow: inset 0 4px 8px 0 #0000003f;
    }
  }

  span {
    flex-grow: 1;
  }
}

.sidebar__icon--dashboard {
  height: 1rem;
  width: 1rem;
}

.sidebar__icon--guests {
  height: 0.75rem;
  width: 1.13rem;
}

.sidebar__icon--orders {
  height: 0.88rem;
  width: 1.13rem;
}

.sidebar__profile-row {
  margin-top: 9.5rem;
  margin-left: 1.63rem;
  margin-right: 1.38rem;
  margin-bottom: 20px;
  gap: 0.88rem;
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: flex-start;
}

.sidebar__profile-image {
  height: 3.13rem;
  align-self: center;
  object-fit: cover;
  border-radius: var(--radius-sm);
}

.sidebar__staff-profile {
  gap: var(--space-md);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.sidebar__name-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__name {
  line-height: 1.56rem;
}

.sidebar__icon--notifications {
  height: 1.75rem;
  align-self: flex-end;
}

.column_two {
  position: sticky;
  margin-right: 10px;
  gap: var(--space-lg);
  align-self: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.columnsearch {
  margin-top: -37rem;
  margin-left: 0.75rem;
  gap: var(--space-xs);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: var(--orange_a100_33);
  justify-content: center;
  align-items: center;
  padding: var(--space-md);
  border-radius: var(--radius-lg);
}

.header__search-row {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search-input {
  color: var(--black_900_01);
  padding-left: 2.38rem;
  padding-right: 0.75rem;
  font-size: 0.88rem;
  gap: var(--space-lg);
  display: flex;
  box-shadow: var(--shadow-xs);
  width: 50%;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  border-radius: 28px var(--radius-md) var(--radius-md) var(--radius-md);
  border: 1px solid var(--orange_a100);
}

.header__search-input {
  transform: translateX(-1.7rem);
}

.rewind {
  height: 1.13rem;
  width: 1.13rem;
  object-fit: contain;
}

.header__icon-row {
  width: 24%;
  display: flex;
  justify-content: space-between;
}

.header__icon-row .header__menu-icon:nth-of-type(1) > span {
  position: absolute;
  /* Styles for the first span */
  background-color: var(--red_a800); /* Default orange color */
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: var(--radius-lg);
  top: 5px;
  right: 5px;

  /* Other styling */
  
}

.header__menu-icon {
  position: relative;
  height: 2.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: var(--orange_50);
  box-shadow: var(--shadow-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  border-radius: var(--radius-xs);
}

.header__upload-icon {
  height: 2.75rem;
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  background-color: var(--orange_50);
  box-shadow: var(--shadow-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  border-radius: var(--radius-xs);
}

.tab {
  margin-left: 3.25rem;
  margin-right: 3.25rem;
  gap: 1.5rem;
  display: flex;
}

.tab > :nth-child(1) {
  background-color: var(--black_900_01);
  color: var(--white_a700);
  padding: 5px 15px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
}

.tab > :nth-child(2) {
  background-color: var(--white_a700);
  color: var(--black_900_01);
  padding: 5px 15px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
}

.columnavailable {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-left: 3.63rem;
  margin-right: 3.63rem;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-1 {
  padding-left: 10.63rem;
  padding-right: 3.5rem;
  gap: 2rem;
  display: flex;
  flex: 1;
}

.tab-1 > :nth-child(1) {
  background-color: var(--blue_a700);
  padding: 5px 15px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}

.tab-1 > :nth-child(2) {
  background-color: var(--green_500);
  padding: 5px 15px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}

.tab-1 > :nth-child(3) {
  background-color: var(--orange_a100);
  padding: 5px 15px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}

.info-text {
  align-self: flex-end;
  font-style: italic;
}

.tabletype {
  margin-top: 0.5rem;
  align-self: stretch;
}

.table__header-cell {
  padding-left: 2.13rem;
  text-align: left;
}

.table__header-cell-1 {
  padding-left: 0.75rem;
  text-align: left;
}

.table__header-cell-2 {
  padding-left: 0.25rem;
  text-align: left;
}

.table__header-cell-3 {
  text-align: left;
}

.room-details {
  gap: var(--space-xl);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.rates {
  gap: var(--space-2xl);
}

.room-status-1 {
  color: var(--blue_a200) !important;
}

.room-status-3 {
  color: var(--amber_a200) !important;
}

.room-status-4 {
  color: var(--blue_a700) !important;
}

.featured {
  padding-left: 1.88rem;
  padding-right: 1.88rem;
  flex: 1;
  display: flex;
}

.room-info {
  margin-bottom: 0.63rem;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.room-number-1 {
  margin-top: -0.63rem;
  position: relative;
}

.room-rate {
  margin-left: 14rem;
}

.room-rate-1 {
  margin-top: 2.5rem;
}

.room-status-6 {
  color: var(--blue_a700) !important;
  margin-top: 2.38rem;
}

.room-number {
  margin-top: -0.25rem;
  margin-left: 21.75rem;
  align-self: flex-start;
  position: relative;
}
