<div class="room_service">
  <!-- room service tabs section -->
  <div class="tab">
    <h1 id="rooms" class="tab__item ui heading size-headingxs filter highlight-btn">Rooms</h1>
    <h2 id="services" class="tab__item ui heading size-headingxs filter">Services</h2>
  </div>

  <div id="rooms-section" class="column_rooms">
    <!-- room availability section -->
    <div class="info">
      <div class="tab-1">
        <h3 id="all__rooms" class="tab__item-2 ui heading size-texts filter highlight-btn">All Rooms</h3>
        <h3 id="rooms__available" class="tab__item-2 ui heading size-texts filter">Available</h3>
        <h4 id="rooms__occupied" class="tab__item-2 ui heading size-texts filter">Occupied</h4>
        <h5 id="rooms__reserved" class="tab__item-2 ui heading size-texts filter">Reserved</h5>
      </div>
      <h6 class="info-text ui heading size-texts">All Rooms come with a complementary breakfast!</h6>
    </div>

    <!-- room table section -->
    <div class="table-column">
      <table cellpadding="0" cellspacing="0" class="tabletype ui table size-xs">
        <thead>
          <tr>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">Image</p>
            </th>
            <th width="318px">
              <p class="table__header-cell-1 ui heading size-headings">Type</p>
            </th>
            <th width="310px">
              <p class="table__header-cell-2 ui heading size-headings">Rate</p>
            </th>
            <th width="124px">
              <p class="table__header-cell-3 ui heading size-headings">Status</p>
            </th>
          </tr>
        </thead>
        <tbody class="room-table-body">
          <!-- Rows will be dynamically added here -->
        </tbody>
      </table>
    </div>
  </div>

  <section id="services-section" class="services-section">
    <h2 class="bottom-marg quick_services"><em>Quick Service Check</em></h2>
    <div class="check-btn">
      <button class="tab__item ui heading size-headingxs filter highlight-btn">Check Out</button>
      <button class="tab__item ui heading size-headingxs filter">Book History</button>
    </div><br />
    <div id="room_checkout-section">
      <div class="room__details">
        <div>
          <h5 class="bottom-marg"><em>Room No.</em></h5>
          <div class="dropdown room__dropdown">
            <div id="room__number-dropdown-btn" class="drop-down">
              <span>Select </span>
              <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
            </div>
            <div class="dropdown-menu" id="room__number-dropdown">
              <ul class="main__dropdown--menu-list">
                <!-- Menu list loaded here dynamically -->
              </ul>
            </div>
          </div>
        </div>

        <div>
          <h5 class="bottom-marg"><em>Room Type</em></h5>
          <input id="room__type" readonly placeholder="Auto-fill" required />
        </div>

        <div>
          <h5 class="bottom-marg"><em>Guest Name</em></h5>
          <input id="room__occupant-name" readonly placeholder="Auto-fill" required />
        </div>

        <div>
          <h5 class="" class="bottom-marg">Payment Status</h5>
          <input id="room__ispaid" readonly placeholder="Auto-fill" required />
        </div>
      </div>

      <div class="service-list">
        <h4 class="description"><em>Service List</em></h4>
        <img class="drop-down" src="/static/images/public/img_arrow_down_black_900_01.svg"width="15px" alt="dropdown">
      </div>
      <div class="total-charge">
        <h4 class="charge"><em>Total Charge</em></h4>
        <h4 class="amount"><em>₦<span id="room__book-amount">0.00</span></em></h4>
      </div>

      <div class="print-proceed-btns">
        <!--<p class="print-btn">Print Receipt</p>-->
        <button id="room__checkout-btn" class="proceed-btn">Check Out</button>
      </div>
    </div>

    <div class="table-column order__history-table">
      <table id="order__table" cellpadding="0" cellspacing="0" class="tabletype ui table size-xs">
        <thead>
          <tr>
            <th width="348px">
              <p class="table__headeradings">Customer<br /><br /></p>
            </th>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">Purchase Date<br /><br /></p>
            </th>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">Payment Status<br /><br /></p>
            </th>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">Amount Paid<br /><br /></p>
            </th>
            <th width="348px">
              <p class="table__header-cell ui heading size-headings">Payment Type<br /><br /></p>
            </th>
          </tr>
        </thead>
        <tbody class="order__history--table-body">
          <!-- Table data will dynamically be loaded here -->
        </tbody>
      </table>
    </div>
  </section>
</div>

<!-- Confirmation Modal Dynamically Loaded Here. -->
<div id="order__confirmation-modal">
</div>
