            <!-- room service tabs section -->
            <section>
              <div class="staff__loan-container">
                <div class="staff-loan-heading">
                  <h2>Request Loan</h2>
                </div>

                <div class="loan-content">
                  <div class="loan-details">

                    <div id="loan-details-section">
                      <p id="loan-details-heading">Loan Details</p>
                    </div>

                    <div id="staff-loan-description">
                      <p>Staff Loan</p>
                    </div>


                  </div>

                  <div class="loan-details-form">
                    <label for="loan-amount">Loan Amount</label>
                    <input type="number" name="loan-amount" id="loan-amount" placeholder="15,000">

                    <label for="loan-term">Loan Term</label>
                    <input type="number" name="loan-term" id="loan-term" placeholder="1 Month">

                    <br>
                    <label for="repayment-mode">Repayment Mode</label>
                    <input type="text" name="repayment-mode" id="repayment-mode" placeholder="Salary">
                  </div>


                  <div class="bank-details">
                    <div class="bank-title">
                      <p>Bank Details</p>
                    </div>
                    <label for="bank-name">Bank Name</label>
                    <input type="text" name="bank-name" id="bank-name" placeholder="Jaiz Bank">

                    <label for="account-holder">Account Holder's Name</label>
                    <input type="text" name="account-holder" id="account-holder" placeholder="James Peter">

                    <br>

                    <label for="account-number">Account Number</label>
                    <input type="number" name="account-number" id="account-number" placeholder="0102345455">
                  </div>

                  <div class="loan-action">
                    <button type="submit">Pass</button>
                    <button type="submit">Take Offer</button>
                  </div>
                </div>
              </div>
            </section>
