<div class="order__emty--cart-section">
  <div class="order__categories-btn">
    <button id="order__items" class="order__selector highlight-btn filter">Ordered Items</button>
    <button id="order__history" class="order__selector filter">Order History</button>
  </div>

  <div class="order__empty-cart">
    <img src="/static/images/staff_dashboard/img_empty_cart.png" />
    <div class="order__empty--cart-details">
      <p>
      <em><strong>Place Your Order ! </strong></em>
      </p>
      <p>
      <strong><em>Go To</em> <span>Restaurant</span></strong>
      </p>
    </div>
  </div>
</div>
