<!-- Main dashboard section goes here -->
<div class="main__container">
  <div class="card">
    <div>
      <p>Dashboard</p>
      <div class="main__welcom-user">
        <div>
          <h1>Hello <span id="main__username"><!-- User name will be loaded here --></span></h1>
          <span>Welcome back!</span>
        </div>
        <br>
        <span class="emoji"><img src="/static/images/public/waving_hello_smile_icon.png" /></span>
        <div class="date"><span id="main__date"><!-- Date loaded here --></span>
          <span class="calendar-icon">📅</span>
        </div>
      </div>
    </div>

    <div class="controls">
      <div class="toggle">
        <label class="switch">
          <input type="checkbox" id="toggle-switch">
          <span class="slider"></span>
        </label>
        <p>State: <span id="toggle-state">0</span></p>
      </div>

      <div class="performance">
        <p>Performance
        <span class="percent">
          <em id="staff_performance-indexing"><!-- Staff performance dynamically loaded here --></em>
        </span>
        </p>
        <button class="track-btn">Track</button>
      </div>
    </div>
  </div>

  <div class="main__room-status">	  
    <div id="main__common-cart--staffManagement" class="main__room-status1">
      <!-- Cart content will be loaded base on Logged-In User -->
    </div>

    <div class="main__room-status2">
      <div>
        <div class="main__row-1 red">
          <i class="fas fa-users"></i>
        </div>
        <p>Vendor's List </p>
      </div>
      <div class="main__row-2">
        <button id="vendor__list-btn" class="highlight-btn">View Vendors </button>
        <h1 id="count__vendors"><em></em></h1>
      </div>
    </div>

    <div class="main__room-status3">
      <div>
        <div class="main__row-1 blue">
          <i class="fas fa-home"></i>
        </div>
        <p>Rooms Available </p>
      </div>
      <div class="main__row-2">
        <button id="main__room-available--view" class="highlight-btn">View Rooms </button>
        <h1><em id="main__room-available">0</em></h1>
      </div>
    </div>

    <div id="main__cart-loaded" class="main__room-status4">
      <!-- Cart content will be loaded base on Logged-In User -->
    </div>
  </div>

  <form id="main__book-form">

    <div class="flex-column">
      <h3>Add New Booking</h3>
      <div class="flex-row">
        <div>
         <p>Check In</p>
          <input id="main__check-in" type="date" required>
        </div>

        <div>
          <p>Check Out</p>
          <input id="main__checkout-date" type="date" required>
        </div>

        <div>
          <p>Instant Payment</p>
          <div class="dropdown">
            <div id="main__guest-payment--status" class="main__dropdown-btn drop-down">
              <span>Select </span>
              <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
            </div>
            <div class="dropdown-menu">
              <ul class="main__dropdown--menu-list">
                <!-- Dynamically load menu list -->
              </ul>
            </div>
          </div>
        </div>
      </div>

      <h3>Room Details</h3>
      <div class="flex-row">
        <div>
          <p>Room Number</p>
          <div class="dropdown">
            <div id="main__dropdown--room-no" class="main__dropdown-btn drop-down">
              <span>Select </span>
              <img
                src="/static/images/public/img_arrow_down_black_900_01.svg"
                width="15px"  alt="dropdown"
                              />
            </div>
            <div class="dropdown-menu">
              <ul class="main__dropdown--menu-list">
                <!-- Dynamically load  menu list -->
              </ul>
            </div>
          </div>
        </div>

        <div>
          <p>Room Rate</p>
          <input id="main__room-rate" value="Auto-filled based on room no." readonly required />
        </div>
        <div>
          <p>Room Type</p>
          <input id="main__room-type" value="Auto-filled based on room no." readonly required />
        </div>
      </div>

      <h3>Guest Details</h3>
      <div class="flex-row">
        <div class="">
          <p>Name</p>
          <input id="main__guest-name" placeholder="e.g., James John" required />
        </div>
        <div>
          <p>Phone No.</p>
          <input type="text" maxlength="11" pattern="\d{11}" id="main__guest-phone" title="Enter exactly 11 digit" placeholder="e.g., 08187643578" required />
        </div>
        <div>
          <p>Address</p>
          <input id="main__guest-address" placeholder="e.g., No. AdO Rd. Ikere-Ekiti">
        </div>
      </div>

      <div class="flex-row">
        <div>
          <p>Gender</p>
          <div class="dropdown">
            <div id="main__guest-gender" class="main__dropdown-btn drop-down">
              <span>Select </span>
              <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
            </div>
            <div class="dropdown-menu">
              <ul class="main__dropdown--menu-list">
                <!-- Dynamically load menu list -->
              </ul>
            </div>
          </div>
        </div>

        <div>
          <p>Guest No.</p>
          <input id="main__guest-no" placeholder="e.g., 1 male, 1 female">
        </div>

        <div>
          <p>ID Type</p>
          <div class="dropdown">
            <div id="main__guest-id--type" class="main__dropdown-btn drop-down">
              <span>Select </span>
              <img src="/static/images/public/img_arrow_down_black_900_01.svg" width="15px" alt="dropdown" />
            </div>
            <div class="dropdown-menu">
              <ul class="main__dropdown--menu-list">
                <!-- Dynamically load menu list -->
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="flex-row">
        <div>
          <p>ID Number</p>
          <input id="main__id--no-val" placeholder="e.g., 1234-4u765-8767tfer-hg64w" />
        </div>
        <div>
          <p>Email</p>
          <input id="main__guest-email" type="email" placeholder="e.g., john@gmail.com" />
        </div>

        <div style="visibility: hidden">
          <!-- Hidden input field to maintain 3 fields per row -->
          <input>
        </div>
      </div>

      <div class="main__btn">
        <button class="highlight-btn">Proceed</button>
      </div>

      <!-- Holds value of options selected in menu -->
      <!-- This aid in submitting this data with form -->
      <input id="main__is--paid-val" required type="hidden" /> <!-- Selected Payment Status Option -->
      <input id="main__room--no-val" required type="hidden" /> <!-- Selected Room No. Option -->
      <input id="main__guest--gender-val" required type="hidden" /> <!-- Selected Gender. Option -->
      <input id="main__id--type-val" type="hidden" /> <!-- Selected Room No. Option -->

      <input id="main__room-amount" required type="hidden" />
    </div>
  </form>
</div>

<!-- Confirmation Modal for Booking -->
<div id="main__popup-modal" class="modal">
  <div class="modal-content">
    <!--<button id="closeModal" class="close-btn">×</button>-->
    <h2>Confirm Booking!</h2>
    <div class="modal-buttons">
      <button id="main__cancel-btn" class="highlight-btn cancel-btn">Cancel</button>
      <button id="main__confirm-btn" class="highlight-btn confirm-btn">Confirm</button>
    </div>
  </div>
</div>


<!-- This popup modal is utilized by management alone -->
<!-- Popup modal for VAT -->
<div id="main__vat-year--inputPopup" class="popup-modal">
  <div class="popup-modal-content vat__cat-popup--modal">
    <!-- Close Button -->
    <button class="close-btn closePopupModal">×</button>
    <h3 class="main__monthly-vatCat--title">Enter a year to view monthly VAT details</h3>
    <form id="main__enter-vat--yearForm">
      <input id="main__vat-year--input" class="main__vatCat-year--input" type="number" min="2000" placeholder="Please enter a valid year (e.g., 2025)" required />
      <div class="main__vatCat-container">
        <button class="table__header-cell-1 ui heading size-headings highlight-btn">View Monthly VAT</button>
      </div>
    </form>
  </div>
</div>

<!-- Popup modal for CAT -->
<div id="main__cat-year--inputPopup" class="popup-modal">
  <div class="popup-modal-content cat__cat-popup--modal">
    <!-- Close Button -->
    <button class="close-btn closePopupModal">×</button>
    <h3 class="main__monthly-vatCat--title">Enter a year to view monthly CAT details</h3>
    <form id="main__enter-cat--yearForm">
      <input id="main__cat-year--input" class="main__vatCat-year--input" type="number" min="2000" placeholder="Please enter a valid year (e.g., 2025)" required />
      <div class="main__vatCat-container">
        <button class="table__header-cell-1 ui heading size-headings highlight-btn">View Monthly CAT</button>
      </div>
    </form>
  </div>
</div>
