/*=========== TABLE OF CONTENTS ===========
1. Text CSS
2. Heading CSS
3. Table CSS
4. Others CSS
==========================================*/

/*-------------------------------------
1. Text CSS
--------------------------------------*/
.ui.text.size-textxs {
  font-size: 0.56rem;
  font-weight: 400;
}

.ui.text.size-textmd {
  font-size: 0.88rem;
  font-weight: 400;
}

.ui.text {
  color: var(--black_900_01);
  font-family: Poppins;
}

/*-------------------------------------
2. Heading CSS
--------------------------------------*/
.ui.heading.size-texts {
  font-size: 0.63rem;
  font-weight: 500;
}

.ui.heading.size-textlg {
  font-size: 1rem;
  font-weight: 500;
}

.ui.heading.size-headingxs {
  font-size: 0.75rem;
  font-weight: 600;
}

.ui.heading.size-headings {
  font-size: 0.88rem;
  font-weight: 600;
}

.ui.heading.size-headingmd {
  font-size: 1.06rem;
  font-weight: 600;
}

.ui.heading {
  color: var(--black_900_01);
  font-family: Poppins;
}

/*-------------------------------------
3. Table CSS
--------------------------------------*/
.ui.table.size-xs tbody td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*==================================
Notification Modal
===================================*/
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  color: #a94442;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 50px;

  .close-btn {
    background: none;
    border: none;
    color: #721c24;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
  }

  .close-btn:hover {
    color: #a94442;
  }
}

.notification.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

/*-------------------------------------
4. Other CSS
--------------------------------------*/
.highlight-btn {
  background-color: #000 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0) !important;
  border: none !important;
  color: #ffffff !important;
}

.filter {
  padding: 5px 15px;
  border-radius: 40px;
  border: 2px solid var(--orange_a100);
  color: black;
  cursor: pointer;
}

.drop-down {
  cursor: pointer;
}
.highlight-sidebar {
  background-color: var(--amber_500_59);
  box-shadow: inset 0 4px 8px 0 #0000003f;
}


/* General Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Light blurred overlay */
  backdrop-filter: blur(10px); /* Blur effect on the background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background: #ffffff; /* White background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  position: relative; /* To position the close button inside */
  animation: fadeIn 0.3s ease-in-out;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Disable Scrolling */
body.modal-open {
  overflow: hidden;
}

/*===== Pop-up menu list of rooms number =====*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  max-height: 200px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu .dropdown-item {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--amber_500_59);
  }
}
