.main__container {
    margin-top: 20px;
    margin-right: 1.5rem;
    margin: 1rem;
    height: 600px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FDF6E4;
}

.main__container .inventory-btn,
.main__container .stack-btn{
    border-radius: 10px;
    width: 50%;
    height: 25px;
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}


/* four boxes*/
.main__room-status {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    .main__room-status1,
    .main__room-status2,
    .main__room-status3,
    .main__room-status4 {
        width: 23%;
        height: 100px;
        border-radius: 15px;
        padding: 15px;
    }


    .main__room-status1,
    .main__room-status2,
    .main__room-status3,
    .main__room-status4 {
        margin-bottom: 3px;
        background-color: #fff;
        margin-inline: 5px;
    }

    .flex-display{
        display: flex;
        justify-content: space-between;

        p{
            font-size: 1rem;
            font-weight: bold;
        }
    }

    p{
        font-size: 1rem;
        font-weight: 400px;
    }
    a{
        font-size: small;
        font-weight: 400;
    }

        .red {
            color: #D41B1B;
        }
    
        .green {
            color: #34BF49;
        }
    
        .yellow {
            color: #FFC009;
        }
    
        .blue {
            color: #3262F9;
        }
}
/*ends*/

.main__container .expenditure{
    margin-top: 10px;
    padding-left: 10px;
}

.main__container .daily-expenditure{
    font-size: 1.2rem;
    font-weight: 900px;
}

.input-row1{
    display: flex;
    gap: 12px;

    p{
        font-size: 0.9rem;
        font-weight: 600;
    }

    input{
        border: 1px solid #FFC009;
        border-radius: 5px;
        height: 40px;
    }
}

    .description{
        margin-top: 5px;
        p {
            font-size: 0.9rem;
            font-weight: 600;
            }
        
        input {
            border: 1px solid #FFC009;
            border-radius: 5px;
            height: 40px;
            width: 50%;
            }

    }

    .save-btn{
        background-color: black;
        margin-left: auto;
        margin-bottom: 15px;
        color: #fff;
        padding: 10px 20px;
        font-size: 1.7rem;
        font-weight: 400;
    }

    .custom-table{
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .custom-table th,
    .custom-table td {
        border-bottom: 1px solid #FFC009;
        padding: 10px;
        text-align: left;
        }

    .custom-table tr td:last-child{
        display: flex;
        justify-content: space-between;
    }