:root {
  /* Image Variables */
  --highlight-click-item: #000044;
  --secondary-color: #D7DFA3;
  --primary-color: #1A4862;
  --danger-color: #C63F3F;
  --success-color: #0EFC32;

  /* Image Variables */
  --background-image: url("/static/images/2")
}
