html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    display: flex;
    flex-direction: column;
    width: 100%;
} */


.main__container{
    padding: 10px;  
}

.main__container h1:first-of-type{
    margin-left: 45px;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
}

.main__container .add-btn{
    display: block;
    background-color: #000000;
    color: #fff;
    padding: 0px 50px;
    min-width: 100px;
    height: 40px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    border-radius: 20px;
    margin-right: 80px;
    margin-left: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.main__container .add-btn:active {
    background-color: hsl(0, 0%, 35%);
}

.links ul{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.links ul li a{
    color: #000000;
    font-size: 0.7rem;
    font-weight: 400;
    white-space: nowrap;
    border-radius: 20px;
    border: 1px solid #FFC009;
    padding: 3px 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.add_room{
    background-color: #FDF6E4;
    border-radius: 30px;
    padding: 20px;
    margin-top: 8px;
}

.add_room h2{
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

.room_img{
    position: relative;
}


.add_room .edit-icon{
    width: 20px;
    height: auto;
    position: absolute;
    right: 58%;
    top: 87%;
    transform: rotateY(-50%);
}

.drop_down {
    display: none;
    /* Initially hidden */
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
}

.room_img:hover+.drop_down,
.drop_down:hover {
    display: block;
    /* Show dropdown when room image is hovered */
}

/* .add_room .edit-icon:hover + .drop_down{
    display: block;
    visibility: visible;
}

.drop_down{
    margin-left: auto;
    width: 65%;
    background-color: yellow;
    display: none;
} */

.take_photo{
    display: flex;
    align-items: center;
    gap: 4px;
}


#name{
    background-color: #000;
}