<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore our room services and manage reservations efficiently. From deluxe to standard rooms, ensure a pleasant stay with complementary breakfast and top-notch amenities."
    />

    <!-- Link Hotel Icon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/images/public/hotel_logo.png"
    />

    <!-- Link Font-Is-Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Link Public CSS Files-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/public/index.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/public/fonts.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/public/styles.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/public/components.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/public/side_nav.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/public/header.css"
    />

    <!-- Link Staff_dashboard CSS Files-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/staff_dashboard/room_service.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/staff_dashboard/restaurant.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/staff_dashboard/order.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/staff_dashboard/empty_cart.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/public/Rooms/add_rooms.css"
    />

    <!-- Link Staff_dashboard JS Files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script
      type="module"
      defer
      src="/static/js/staff_dashboard/common.js"
    ></script>

    <script
      type="module"
      defer
      src="/static/js/staff_dashboard/restaurant.js"
    ></script>
    <script
      type="module"
      defer
      src="/static/js/staff_dashboard/room_service.js"
    ></script>
    <script
      type="module"
      defer
      src="/static/js/staff_dashboard/app.js"
    ></script>
    <script
      type="module"
      defer
      src="/static/js/staff_dashboard/main_dashboard.js"
    ></script>
    <script
      type="module"
      defer
      src="/static/js/staff_dashboard/order.js"
    ></script>
  </head>
  <body>
    <!-- main content section -->
    <div class="container">
      <div class="row">
        <!-- sidebar navigation section -->
        <aside class="sidebar">
          <div class="sidebar__logo-row">
            <img
              src="/static/images/public/hotel_logo.png"
              alt="Hotel Logo"
              class="sidebar__logo"
            />
          </div>
          <ul class="sidebar__menu">
            <li id="sidebar__main" class="highlight-sidebar sidebar__nav-icon">
              <a>
                <img
                  src="/static/images/public/dashboard_icon.png"
                  alt="Dashboard Icon"
                  class="sidebar__icon--dashboard"
                />
                <span> Dashboard</span>
              </a>
            </li>
            <li id="sidebar__Room-service" class="sidebar__nav-icon">
              <a>
                <img
                  src="/static/images/staff_dashboard/room_services_icon.png"
                  alt="Services Icon"
                  class="sidebar__icon--services"
                />
                <span> Room & Services </span>
              </a>
            </li>
            <li id="sidebar__reservations" class="sidebar__nav-icon">
              <a>
                <img
                  src="/static/images/staff_dashboard/reservations_icon.png"
                  alt="Reservations Icon"
                  class="sidebar__icon--services"
                />
                <span> Reservations</span>
              </a>
            </li>
            <li id="sidebar__guest" class="sidebar__nav-icon">
              <a>
                <img
                  src="/static/images/staff_dashboard/guests_icon.png"
                  alt="Guests Icon"
                  class="sidebar__icon--guests"
                />
                <span> Guests </span>
              </a>
            </li>
            <li id="sidebar__restaurant" class="sidebar__nav-icon">
              <a>
                <img
                  src="/static/images/staff_dashboard/restaurant_icon.png"
                  alt="Restaurant Icon"
                  class="sidebar__icon--services"
                />
                <span> Restaurant & Bar </span>
              </a>
            </li>
            <li id="sidebar__order" class="sidebar__nav-icon">
              <a>
                <img
                  src="/static/images/staff_dashboard/orders_icon.png"
                  alt="Orders Icon"
                  class="sidebar__icon--orders"
                />
                <div>
                  <span>Orders</span>&nbsp;&nbsp;&nbsp;&nbsp;
                  <span id="sidebar__order-count"
                    ><!-- The count of cart items will be display here --></span
                  >
                </div>
              </a>
            </li>
            <li id="sidebar__help" class="sidebar__nav-icon">
              <a>
                <img
                  src="/static/images/public/help_icon.png"
                  alt="Help Icon"
                  class="sidebar__icon--services"
                />
                <span> Help</span>
              </a>
            </li>
            <li id="sidebar__logout" class="sidebar__nav-icon">
              <a>
                <img
                  src="/static/images/public/logout_icon.png"
                  alt="Logout Icon"
                  class="sidebar__icon--services"
                />
                <span> Logout </span>
              </a>
            </li>
          </ul>
          <div class="sidebar__profile-row">
            <img
              src="/static/images/public/profile_photo_placeholder.png"
              alt="Profile Image"
              class="sidebar__profile-image"
            />
            <div class="sidebar__staff-profile">
              <div class="sidebar__name-column">
                <h5
                  id="sidebar__name"
                  class="sidebar__name ui heading size-headingmd"
                >
                  <!--Name will be dynamically be loaded-->
                </h5>
                <h6 id="sidebar__email" class="ui text size-textxs">
                  <!--Dynamically load email-->
                </h6>
              </div>
              <img
                src="/static/images/public/vertical3colons.png"
                alt="Notifications Icon"
                class="sidebar__icon--notifications"
              />
            </div>
          </div>
        </aside>
        <!-- side navigation bars ends here -->

        <div class="column_two">
          <!-- search and tabs section -->
          <div class="columnsearch">
            <!-- search header section -->
            <header class="header">
              <div class="header__search-row">
                <label class="header__search-input">
                  <img
                    src="/static/images/public/serarch_icon.png"
                    alt="Rewind"
                    class="rewind"
                  />
                  <input
                    name="Search Input"
                    placeholder="All Rooms"
                    type="text"
                  />
                </label>
                <div class="header__icon-row">
                  <a href="#">
                    <span class="header__menu-icon">
                      <img src="/static/images/public/message_icon.svg" />
                      <span>2</span>
                    </span>
                  </a>
                  <a href="#">
                    <button class="header__menu-icon">
                      <img src="/static/images/public/notification.png" />
                      <span>3</span>
                    </button>
                  </a>
                  <a href="#">
                    <button class="header__menu-icon">
                      <img
                        src="/static/images/public/img_arrow_down_black_900_01.svg"
                      />
                    </button>
                  </a>
                  <a href="#">
                    <button class="header__upload-icon">
                      <img
                        src="/static/images/public/tab_icon.png"
                        alt="hide-sidebar"
                      />
                    </button>
                  </a>
                </div>
              </div>
            </header>

            <section id="dynamic__load-dashboard">
              <!-- Others dashboard section will be loaded here -->
              <div class="main__container">
                <h1>Room</h1>
                <button class="add-btn">+ Add</button>

                <div class="links">
                  <ul>
                    <li><a href="#">All Rooms</a></li>
                    <li><a href="#">Available</a></li>
                    <li><a href="#">Occupied</a></li>
                    <li><a href="#">Reserved</a></li>
                  </ul>
                </div>
                <!--Add room body-->
                <div class="add_room">
                  <h2>Add Room</h2>
                  <p>Image</p>
                  <div class="room_img">
                    <img
                      src="/static/images/public/add_room_img.png"
                      alt=""
                      class="room"
                    />
                    <img
                      src="/static/images/public/edit_icon.png"
                      alt=""
                      class="edit-icon"
                    />
                  </div>
                  <!-- Dropdown section-->
                  <div class="drop_down">
                    <div class="take_photo">
                      <p>Take photo</p>
                      <img src="/static/images/public/camera_icon.svg" alt="" />
                    </div>

                    <div class="choose_photo">
                      <p>Choose Photo</p>
                      <img
                        src="/static/images/public/choose_photo__icon.svg"
                        alt=""
                      />
                    </div>

                    <div>
                      <p>Delete Photo</p>
                      <img src="" alt="" />
                    </div>
                  </div>
                  <div>
                    <label class="room_name" for="name">Room Name</label>
                    <input type="text" id="name" readonly />
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
