/* Main section*/
body{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.reservation-header{
    padding: 0 0 10px 40px;
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    padding: 20px;
    background-color: #FDF6E4;
    border-radius: 30px;
}
.add-reservation-header {
    font-size: 1.7rem;
    font-weight: 200;
    margin-bottom: 20px;
}

main h1,
h2 {
    color: #333;
}

.first-row, .second-row{
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
}

main .add-reservation form input,
main .add-reservation form select {
    display: block;
    padding: 10px;
    border: 1px solid #F5D077;
    border-radius: 8px;
    width: 12rem;
    height: 45px;
    margin-bottom: 10px;
}

main button.book-btn {
    padding: 20px 80px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #1f2935;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.reservations-table{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

/* table section */
main .reservations-table {
    width: 100%;
}

main .table-layout{
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}
.table-layout tr {
    border-bottom: 1px solid #F5D077;
}
.table-layout th,
.table-layout td {
    text-align: left;
    padding: 8px;
    width: 15%;
}

.table-layout th{
    font-size: 18px;
    font-weight: 500;
}
.table-layout td {
    font-size: 14px;
    font-weight: 400;
}
.table-layout td.pending{
    color: #D41B1B;
}
.table-layout td.paid {
    color: #34BF49;
}
.table-layout td.partial {
    color: #4285F4;
}
.details{
    color: #FFC845;
}
.table-layout .active{
    display: flex;
    column-gap: 4px;
    display: none;
}

.table-layout td:hover .active{
    display: flex;
    justify-content: space-around;
    
}

.table-layout td:hover .inactive {
    display: none;
}
